{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>{{mealtime.name}}</h1>
        <ul>
            {% if user.username == mealtime.author%}
            <li>
                <a href="{% url 'mealtime_update' mealtime.pk %}">Update</a>
            </li>
            <li>
                <a href="{% url 'mealtime_delete' mealtime.pk %}">Delete</a>
            </li>
            {%else%}
            <form method="get" action="{% url 'review_create' mealtime.pk %}">
                {% csrf_token %}
                <button type="submit" name="review" value="mealtime" >Leave a Review</button>
            </form>

            <form method="post" action="{% url 'favmealtime_create' mealtime.id %}" >
                {% csrf_token %}
                <button type="submit">Add to Favorites</button>
            </form>
            {%endif%}

            {%for review in mealtime.reviews.all%}
            <li>{{review.name}}</li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
