{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Meal Times created by {{request.user.username}}</h1>
        <ul>
            {%for mealtime in mealtimes%}
            <li>
                <a href="{% url 'mealtime_detail' mealtime.pk%}">{{mealtime.name}}</a>
            </li>
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
