.main-flex-container {
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 2rem;

}
