{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>{{mealweek.name}}</h1>
        <ul>
            {% if user.username == mealweek.author%}
            <li>
                <a href="{% url 'mealweek_update' mealweek.pk %}">Update</a>
            </li>
            <li>
                <a href="{% url 'mealweek_delete' mealweek.pk %}">Delete</a>
            </li>
            {%else%}
            <form method="get" action="{% url 'review_create' mealweek.pk %}">
                {% csrf_token %}
                <button type="submit" name="review" value="mealweek" >Leave a Review</button>
            </form>

            <form method="post" action="{% url 'favmealweek_create' mealweek.id %}" >
                {% csrf_token %}
                <button type="submit">Add to Favorites</button>
            </form>

            {%endif%}
        </ul>
    </div>
</main>
{%endblock%}
