{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Meal Weeks created by {{request.user.username}}</h1>
        <ul>
            {%for mealweek in mealweeks%}
            <li>
                <a href="{% url 'mealweek_detail' mealweek.pk %}">{{mealweek.name}}</a>
            </li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
