{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Delete A Favorited Meal Time Plan</h1>
        <form method="post">
            {% csrf_token %}
            <p>Are you Sure you want to DELETE {{favmealtime.name}}?</p>
            {{form.as_p}}
            <button type="submit" value="confirm" >DELETE</button>
        </form>
    </div>
</main>
{%endblock%}
