{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Meal Days Favorited by {{request.user.username}}</h1>
        <ul>
            {%for favmealtime in favmealtimes%}
            <li>
                <a href="{% url 'mealtime_detail' favmealtime.mealtime.id %}">{{favmealtime.name}}</a>
            </li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
