{%extends 'base.html' %}
{% load static %}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/recipes/create.css' %}">
{%endblock%}
{%block content%}
<main class="main-flex-container">
    <h1>Create A Recipe</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" >Create</button>
    </form>
</main>
{%endblock%}
