{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>{{recipe.name}}</h1>
        <ul>
            {% if user.username == recipe.author%}
            <li>
                <a href="{% url 'recipe_update' recipe.pk %}">Update</a>
            </li>
            <li>
                <a href="{% url 'recipe_delete' recipe.pk %}">Delete</a>
            </li>
            {%else%}
            <form method="get" action="{% url 'review_create' recipe.pk %}">
                {% csrf_token %}
                <button type="submit" name="review" value="recipe">Leave a Review</button>
            </form>
            <form method="post" action="{% url 'favrecipe_create' recipe.id %}" >
                {% csrf_token %}
                <button type="submit">Add to Favorites</button>
            </form>
            {%endif%}
            {% for review in recipe.reviews.all %}
            <li>{{review.name}}</li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>

</main>
{%endblock%}
