{%extends 'base.html' %}
{% load static%}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/recipes/list.css' %}">
{%endblock%}
{%block content%}
<main class="main-flex-container">

        <h1>Recipes by {{user.username}}</h1>
        <ul>
            {% for recipe in recipes%}
            <li>
                <a href="{% url 'recipe_detail' recipe.id %}">{{recipe.name}}</a>
            </li>
            {%empty%}
            {% endfor %}
        </ul>

</main>
{%endblock%}
