{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Shopping List</h1>
        <ul>
            <form method="post" >
                {% csrf_token %}
                {%for item in shoppinglist%}
                    <li>
                        {{item.amount}} FOR {{item.ingredient}}
                        <button type="submit" value="{{item.pk}}" name="delete">REMOVE ITEM</button>
                    </li>
                {%endfor%}
            </form>
        </ul>
    </div>
</main>
{%endblock%}
