{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>{{mealday.name}}</h1>
        <ul>
            {% if user.username == mealday.author%}
            <li>
                <a href="{% url 'mealday_update' mealday.pk %}">Update</a>
            </li>
            <li>
                <a href="{% url 'mealday_delete' mealday.pk %}">Delete</a>
            </li>
            {%else%}
            <form method="get" action="{% url 'review_create' mealday.pk %}">
                {% csrf_token %}
                <button type="submit" name="review" value="mealday" >Leave a Review</button>
            </form>

            <form method="post" action="{% url 'favmealday_create' mealday.id %}" >
                {% csrf_token %}
                <button type="submit">Add to Favorites</button>
            </form>
            {%endif%}
        </ul>
    </div>
</main>
{%endblock%}
