{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Meal Days created by {{request.user.username}}</h1>
        <ul>
            {%for mealday in mealdays%}
            <li>
                <a href="{% url 'mealday_detail' mealday.pk %}">{{mealday.name}}</a>
            </li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
