{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Meal Days Favorited by {{request.user.username}}</h1>
        <ul>
            {%for favmealday in favmealdays%}
            <li>
                <a href="{% url 'mealday_detail' favmealday.mealday %}">{{favmealday.name}}</a>
            </li>
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
