{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Meal Weeks Favorited by {{request.user.username}}</h1>
        <ul>
            {%for mealweek in favmealweeks%}
            <li>
                <a href="{% url 'mealweek_detail' favmealweek.mealweek.id %}">{{favmealweek.name}}</a>
            </li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
