{%extends 'base.html' %}
{% load static %}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{%block content%}
<main class="main-flex-container">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Log in</button>
    </form>
</main>

{%endblock %}
