{% extends 'base.html' %}
{% load static %}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{%endblock%}
{%block content%}
<main class="main-flex-container">
    <h1>Sign Up</h1>
    <form method="post" >
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" >Create Account</button>
    </form>
</main>

{%endblock%}
