* {
    box-sizing: border-box;
}
body {
    background-image: url("/static/img/hi-misen.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
}
.header {
    display: grid;
    grid-template-columns: repeat(11, minmax(75px, 1fr));
    grid-template-rows: repeat(10, minmax(1.5px, 3px));
    background-color: black;
    top: 0;
    margin-top: 2rem;
    padding-top: 1rem;
    border-radius: 3.5rem;
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.search-bar {
    grid-column: 10/11 ;
    grid-row: 8/9 ;
    align-items: center;
    position: relative;
}
.search-img {
    position: absolute;
    right: 25px;
    width: 25px;
    bottom: 2px;
}

#search-box {
    background-color: white;
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 1.25rem;
    height: 2rem;
    font-size: 15px;
}

.link.logout, .link.login {
    grid-column: 1/2;
    grid-row: 3/4;
    color: white;
}
.link.signup {
    grid-column: 1/2;
    grid-row: 8/9;
    color: white;
}

.dropdown.browse {
    grid-column: 4/5;
    grid-row: 8/9;
}

.dropdown.create {
    grid-column: 5/6;
    grid-row: 8/9;
}

.nav-header {
    grid-column: 6/7;
    grid-row: 3/4;
    font-family: 'Times New Roman';
    letter-spacing: 0.2rem;
    font-size: 75px;
    font-weight: 100;
    color: white;
    margin: 0;
}

.link.home {
    grid-column: 6/7;
    grid-row: 8/9
}
.nav-header-underline {
    border-bottom: .05rem solid;
    border-color: white;
    grid-column: 1/-1;
    grid-row: 6;
    width: 100%;

}


.dropdown.mine {
    grid-column: 7/8;
    grid-row: 8/9;
}
.dropdown.favorites {
    grid-column: 8/9;
    grid-row: 8/9;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color:  rgb(255, 215, 0);
    font-family: Georgia;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    padding: 0;
}

.dropdown.active > .link,
.link:hover {
    color: white;
}
.dropdown-links.browse-button:hover {
    cursor: pointer;
}

.dropdown {
    position:relative;
}

.dropdown-menu {
    position:absolute;
    left: 0;
    top: calc(100% + 1.25rem);
    background-color: white;
    padding: .25rem;
    border-radius: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.information-grid, .mine-grid,
 .browse-grid, .favorites-grid,
 .create-grid{
    display: grid;
    grid-template-columns: max-content;
    gap: 1rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 1rem;
    margin: 1rem;
    color: rgb(255, 155, 0);
    font-family: inherit;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.01rem;
}
button {
    background-color: white;
    border:none;
    color:white;
    text-decoration: none;
}
