

.flex-front-container {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}
.grid-front-container {
    display:grid;
    grid-template-columns: repeat(5, minmax(75px, 1fr));
    grid-template-rows: repeat(10, minmax(15px, 25px));
    background-color:   rgb(250, 245, 225);
    border-radius: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
    margin: 1rem;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    max-width: 50%;

}

.daily-header {
    grid-column: 1/6;
    grid-row: 2/3;
}
.daily-update.recipe-create {
    grid-column: 1/6;
    grid-row: 4/5;
}
.daily-update.recipe-update {
    grid-column: 1/6;
    grid-row: 5/6;
}
.daily-update.mealtime {
    grid-column: 1/6;
    grid-row: 6/7;
}
.daily-update.mealday {
    grid-column: 1/6;
    grid-row: 7/8;
}
.daily-update.mealweek {
    grid-column: 1/6;
    grid-row: 8/9;
}

a {
    text-decoration: none !important;
    font-family: Arial;
    font-weight: 300;
    font-size: 18px;
}
