
.main-grid-container {
    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}


.search-form {
    display:grid;
    grid-template-columns: repeat(6, minmax(75px, 1fr));
    grid-template-rows: repeat(5, minmax(20px, 25px));
    margin: 1rem;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 2rem;
    padding:1rem;
    gap: 0.2rem;
}
.search-header {
    grid-column: 1/2;
    grid-row:2/5;
    color: rgb(255, 215, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: auto;
    font-weight: bold;
    padding: 1rem;
    margin:0;
    justify-content: center;
    align-content: center;
}
.search-box{
    grid-column: 2/5;
    grid-row:1/6;
}
.search-box.search-title, .search-box.search-author {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    height: 50%;
}

.filters {
    grid-column: 5/7;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-content: space-around;
    justify-content: space-around;
    height: 100%;
}

.search-results {
    background-color: bisque;
    height: auto;
    padding: 3rem;
    border-radius: 1rem;
}
