{%extends 'base.html' %}
{% load static %}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{%endblock%}
{%block content%}
<main class="main-grid-container">

    <form class="search-form" method="get" action="{% url 'search_out' %}" >
        <h1 class="search-header" >Search</h1>
        {% csrf_token %}

        <div class="search-box">
            <input class="search-box search-title" id="searchout_title" type="search" name="search_title" placeholder="Title is...">
            <input class="search-box search-author" id="searchout_author" type="search" name="search_author" placeholder="Author is...">
        </div>

        <div class="filters">
            <div class="filter check-recipes">
                <input id="searchout_check_recipes" type="checkbox" name="check_recipes" value="True">
                <label for="searchout_check_recipes">Search in Recipes</label>
            </div>
            <div class="filter check-mealtimes">
                <input id="searchout_check_mealtimes" type="checkbox" name="check_mealtimes" value="True">
                <label for="searchout_check_mealtimes">Search in Meal Times</label>
            </div>

            <div class="filter check-mealdays">
                <input id="searchout_check_mealdays" type="checkbox" name="check_mealdays" value="True">
                <label for="searchout_check_mealdays">Search in Meal Days</label>
            </div>

            <div class="filter check-mealweeks">
            <input id=="searchout_check_mealweeks" type="checkbox" name="check_mealweeks" value="True">
            <label for="searchout_check_mealweeks">Search in Meal Weeks</label>
            </div>

        </div>
        <button type="submit" >Search</button>
    </form>

    <div class="search-results" >
        <ul>
            {%for recipe in recipes.all%}
            <li>
                <p>
                    [RECIPE]
                    <a href="{% url 'recipe_detail' recipe.id %}">{{recipe.name}}
                    </a> Created by {{recipe.author}}
                </p>
            </li>
            {%empty%}
            {%endfor%}

            {%for mealtime in mealtimes.all%}
            <li>
                <p>
                    [MEALTIME]
                    <a href="{% url 'mealtime_detail' mealtime.id %}">{{mealtime.name}}
                    </a> Created by {{mealtime.author}}
                </p>
            </li>
            {%empty%}
            {%endfor%}

            {%for mealday in mealdays.all%}
            <li>
                <p>
                    [MEALDAY]
                    <a href="{% url 'mealday_detail' mealday.id %}">{{mealday.name}}
                    </a> Created by {{mealday.author}}
                </p>
            </li>
            {%empty%}
            {%endfor%}

            {%for mealweek in mealweeks.all%}
            <li>
                <p>
                    [MEALWEEK]
                    <a href="{% url 'mealweek_detail' mealweek.id %}">{{mealweek.name}}
                    </a> Created by {{mealweek.author}}
                </p>
            </li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
