{%extends 'base.html' %}

{%block content%}
<main>
    <div>
        <h1>Recipes Favorited by {{request.user.username}}</h1>
        <ul>
            {%for favrecipe in favrecipes%}
            <li>
                <a href="{% url 'recipe_detail' favrecipe.recipe.id %}">{{favrecipe.name}}</a>
            </li>
            {%empty%}
            {%endfor%}
        </ul>
    </div>
</main>
{%endblock%}
