{%extends 'base.html' %}

{%block content%}
<main>
    <header>
        <nav>
            <ul>
                <li>
                    <p>
                        <a href="{% url 'recipe_list' %}">My Recipes</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{% url 'mealtime_list' %}">My Meal Times</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{% url 'mealday_list' %}">My Meal Days</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="{% url 'mealweek_list' %}">My Meal Weeks</a>
                    </p>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        <h1>Recent Favorites</h1>
        <ul>
            {% if favrecipe != "" %}
            <li>
                <p>
                    <a href="{% url 'recipe_detail' favrecipe.recipe.id%}">{{favrecipe.name}}
                    </a> Added on {{favrecipe.created}}
                </p>
            </li>
            {%endif%}

            {% if favmealtime != "" %}
            <li>
                <p>
                    <a href="{% url 'mealtime_detail' favmealtime.mealtime.id %}">{{favmealtime.name}}
                    </a> Added on {{favmealtime.created}}
                </p>
             </li>
             {%endif%}

             {% if favmealday != "" %}
             <li>
                <p>
                    <a href="{% url 'mealday_detail' favmealday.mealday.id %}">{{favmealday.name}}
                    </a> Added on {{favmealday.created}}
                </p>
             </li>
             {%endif%}

             {% if favmealweek != "" %}
             <li>
                <p>
                    <a href="{% url 'mealweek_detail' favmealweek.mealweek.id %}">{{favmealweek.name}}
                    </a> Added on {{favmealweek.created}}
                </p>
             </li>
             {%endif%}
        </ul>
    </div>
    <div>
        <h2>Recent Creations</h2>
        <ul>
            {% if recipe != ""%}
            <li>
                <p>
                    <a href="{% url 'recipe_detail' recipe.id %}">{{recipe.name}}
                    </a> Created on {{recipe.created}}
                </p>
             </li>
             {%endif%}

             {% if mealtime != ""%}
             <li>
                <p>
                    <a href="{% url 'mealtime_detail' mealtime.id%}">{{mealtime.name}}
                    </a> Created on {{mealtime.created}}
                </p>
             </li>
             {%endif%}

             {% if mealday != ""%}
             <li>
                <p>
                    <a href="{% url 'mealday_detail' mealday.id%}">{{mealday.name}}
                    </a> Created on {{mealday.created}}
                </p>
             </li>
             {%endif%}

             {% if mealweek != ""%}
             <li>
                <p>
                    <a href="{% url 'mealweek_detail' mealweek.id%}">{{mealweek.name}}
                    </a> Created on {{mealweek.created}}
                </p>
             </li>
             {%endif%}
        </ul>
    </div>
</main>
{%endblock%}
