{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {%block extra_css%}{%endblock%}
    <script src="{% static "js/dropdown.js" %}" defer></script>
    <title>Scrumptious</title>
</head>
<body>
<header>
    <nav>
        <div class="grid-base-container header">
            <h1 class="nav-header" >Scrump·tious</h1>
            <div class="nav-header-underline"></div>
            {% if "search" in request.path %}
            {%else%}
            <form  class="search-bar" method="get" action="{% url 'search_out' %}">
                {% csrf_token %}
                <img class="search-img" src="{% static "img/magnifier3.png" %}">
                <input style="" id="search-box" type="search" name="search_title" placeholder="I'm craving for...">
            </form>
            {%endif%}
            <div class="dropdown browse" data-dropdown>
                <button class="link browse" data-dropdown-button>Browse</button>
                    <div class="dropdown-menu browse-grid">
                        <form method="get" action="{% url 'search_out' %}">
                            <input type="hidden" name="search_title">
                            <button type="submit" value="True" name="check_recipes" class="dropdown-links browse-button">Recipes</button>
                            <button type="submit" value="True" name="check_mealtimes" class="dropdown-links browse-button">Meal Times</button>
                            <button type="submit" value="True" name="check_mealdays" class="dropdown-links browse-button">Meal Days</button>
                            <button type="submit" value="True" name="check_mealweeks" class="dropdown-links browse-button">Meal Weeks</button>
                        </form>
                    </div>
            </div>
            <div class="dropdown mine" data-dropdown>
                <button class="link mine" data-dropdown-button>Mine</button>
                <div class="dropdown-menu mine-grid">
                    <div>
                        <a href="{% url 'recipe_list' %}" class="dropdown-links">My Recipes</a>
                        <a href="{% url 'mealtime_list' %}" class="dropdown-links">My Meal Times</a>
                        <a href="{% url 'mealday_list' %}" class="dropdown-links">My Meal Days</a>
                        <a href="{% url 'mealweek_list' %}" class="dropdown-links">My Meal Weeks</a>
                    </div>
                </div>
            </div>
            <div class="dropdown favorites" data-dropdown>
                <button class="link favorites" data-dropdown-button>Favorites</button>
                <div class="dropdown-menu favorites-grid">
                    <div>
                        <a href="{% url 'favrecipe_list' %}" class="dropdown-links">Fav Recipes</a>
                        <a href="{% url 'favmealtime_list' %}" class="dropdown-links">Fav Meal Times</a>
                        <a href="{% url 'favmealday_list' %}" class="dropdown-links">Fav Meal Days</a>
                        <a href="{% url 'favmealweek_list' %}" class="dropdown-links">Fav Meal Weeks</a>
                    </div>
                </div>
            </div>
            <div class="dropdown create" data-dropdown>
                <button class="link create" data-dropdown-button>Create</button>
                <div class="dropdown-menu create-grid">
                    <div>
                        <a href="{% url 'recipe_create' %}" class="dropdown-links" >Create a Recipe</a>
                        <a href="{% url 'mealtime_create' %}" class="dropdown-links" >Create a Meal Time</a>
                        <a href="{% url 'mealday_create' %}" class="dropdown-links" >Create a Meal Day</a>
                        <a href="{% url 'mealweek_create' %}" class="dropdown-links" >Create a Meal Week</a>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="link logout" >Logout</a>
            {%else%}
                {% if "login" in request.path %}
                {%else%}
                <a href="{% url 'login' %}" class="link login" >Login</a>
                {%endif%}
                {% if "signup" in request.path %}
                {%else%}
                <a href="{% url 'signup' %}" class="link signup">Sign Up</a>
                {%endif%}
            {%endif%}
            <a href="{% url 'front' %}" class="link home" >Home</a>
        </div>
    </nav>
</header>
{%block content%}
{%endblock content%}
</body>
</html>
