{%extends 'base.html' %}
{% load static %}
{%block extra_css%}
<link rel="stylesheet" href="{% static 'css/front.css' %}">
{%endblock%}

{%block content%}
<main class="flex-front-container" >
    <div class="grid-front-container" >

        <h1 class="daily-header">New Creations!</h1>

        {% if recipe_created != "" %}
        <div class="daily-update recipe-create">
            <a class="daily-link recipe-create" href="{% url 'recipe_detail' recipe_created.id %}">{{recipe_created.name}}
            </a> [Recipe] NEWLY CREATED BY {{recipe_created.author}}</div>
        {%endif%}

        {% if recipe_updated != "" %}
        <div class="daily-update recipe-update">
            <a class="daily-link recipe-update" href="{% url 'recipe_detail' recipe_updated.id %}">{{recipe_updated.name}}
            </a> [Recipe] NEWLY UPDATED BY {{recipe_updated.author}}</div>
        {%endif%}

        {% if mealtime != "" %}
        <div class="daily-update mealtime">
        <a class="daily-link mealtime" href="{% url 'mealtime_detail' mealtime.id %}">{{mealtime.name}}
        </a> [Meal Time] NEWLY CREATED BY {{mealtime.author}}</div>
        {%endif%}

        {% if mealday != "" %}
        <div class="daily-update mealday">
            <a class="daily-link mealday" href="{% url 'mealday_detail' mealday.id %}">{{mealday.name}}
            </a> [Meal Day] NEWLY CREATED BY {{mealday.author}}</div>
        {%endif%}

        {% if mealweek != "" %}
        <div class="daily-update mealweek">
            <a class="daily-link mealweek" href="{% url 'mealweek_detail' mealweek.id %}">{{mealweek.name}}
            </a> [Meal Week] NEWLY CREATED BY {{mealweek.author}}</div>
        {%endif%}


    </div>
</main>
{%endblock%}
