<div class="header" >
    <div class="dropdown" data-dropdown>
        <button class="link" data-dropdown-button >Information</button>
        <div class="dropdown-menu information-grid">
            <div>
                <div class="dropdown-heading">Free Tutorials</div>
                <form method="get" action="{% url 'search_out' %}">
                    <input type="hidden" name="search_title">
                    <button type="submit" value="True" name="check_recipes" class="dropdown-links browse-button">Recipes</button>
                    <button type="submit" value="True" name="check_mealtimes" class="dropdown-links browse-button">Meal Times</button>
                    <button type="submit" value="True" name="check_mealdays" class="dropdown-links browse-button">Meal Days</button>
                    <button type="submit" value="True" name="check_mealweeks" class="dropdown-links browse-button">Meal Weeks</button>
                </form>
                <a href="b" class="dropdown-links" >B</a>
                <a href="c" class="dropdown-links" >C</a>
                <a href="d" class="dropdown-links" >D</a>
                <a href="d" class="dropdown-links" >D</a>
            </div>
        </div>
    </div>
    <div class="dropdown" data-dropdown>
        <button class="link create" data-dropdown-button>Create</button>
        <div class="dropdown-menu create-grid">
            <div>
                <a href="{% url 'recipe_list' %}" class="dropdown-links" >Create a Recipe</a>
                <a href="{% url 'mealtime_list' %}" class="dropdown-links" >Create a Meal Time</a>
                <a href="{% url 'mealday_list' %}" class="dropdown-links" >Create a Meal Day</a>
                <a href="{% url 'mealweek_list' %}" class="dropdown-links" >Create a Meal Week</a>
            </div>
        </div>
    </div>
    <a href="a" class="link">pricing</a>
    <button class="link" data-dropdown-button >Login</button>
</div>
